/**
 * @name xaninho
 * @version 8.0
 * @description A simple but highly customizable theme, now sugar free!
 * @author Spectra
 * @invite PZdnCVD
 * @source https://github.com/xcruxiex/themes
 * @website https://betterdiscord.app/theme/Neutron
 * @BDEditor Neutron
*/

@import url('https://fonts.googleapis.com/css2?family=Comme:wght@100;300;400;500;700&display=swap');
@import url('https://xcruxiex.github.io/themes/themes-cores/neutron8.css');

:root {
  --backgroundImage: url('https://cdn.discordapp.com/attachments/1105877463839543376/1106283496437190716/image.png');
  --backgroundColor: #0d0d0d;
  --backgroundSize: cover;
  --backgroundPosition: center;
  --backgroundRepeat: no-repeat;
  --backgroundBlur: 0px;
  --backgroundOpacity: 0.5;
  --homeImage: url('https://cdn.discordapp.com/attachments/1105877463839543376/1106282620666511501/image.png');
  --homeImageSize: 250;
  --themeColor1: #B2153B;
  --themeColor2: #D01950;
  --customFont: Comme;
  --backgroundCode: rgba(0 0 0 /.5);
  --backgroundName: rgba(0 0 0 /.5);
}

/* Any custom CSS below here */


